# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Entornos virtuales
venv/
.venv/
env/
ENV/

# Archivos de logs
*.log

# =========================
# Flask / Python cache
# =========================
instance/
.webassets-cache

# =========================
# Variables de entorno
# =========================
.env

# =========================
# Jupyter (si lo usas)
# =========================
.ipynb_checkpoints/

# =========================
# Sistema operativo
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs (VS Code)
# =========================
.vscode/

# =========================
# Matplotlib cache (importante para tu caso)
# =========================
.matplotlib/

# =========================
# React (si tienes frontend)
# =========================
node_modules/
build/
dist/